img, .leftimg {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

p {
  font-size: 17px;
}

.leftimg {
  float: left;
  padding: 0px;
  padding-right: 20px;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 0px;
}